<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="input-group mb-4">
        <div ngbDropdown class="d-inline-block">
          <h1>Conversor de Real Para Dólar</h1>
          <label>real </label>
          <input type="number" roboto-label="Text input with dropdown button" [(ngModel)]="primeiroNumero">
    </div>
    <div class="col-12">
      <div class="input-group mb-4">
        <div ngbDropdown class="d-inline-block"></div>
        </div>
        <button (click)="converter()">Calcular</button>
        <button (click)="limpar()">Limpar</button>
      </div>
      <hr>
      <label for="resultado">Dólar:</label>
      <br>
      <input type="number" name="resultado" [value]="resultado" readonly>
    </div>
